* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 58.75rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

section {
  border: 1px solid red;
}

.tela-texto {
  width: 37.5rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.botoes {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
.tela-criptografia {
  width: 25rem;
  height: 25rem;
  text-align: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}

.tela-criptografia p:first-child {
  font-weight: bold;
  font-size: 2rem;
}
.tela-criptografia p:last-child {
  font-size: 0.9rem;
}

.img-criptografia {
  width: 300px;
}

