* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.container {
  width: 58.75rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

section {
  border: 1px solid red;
}

.tela-texto {
  width: 37.5rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.tela-criptografia {
  width: 25rem;
  height: 25rem;
  text-align: center;
  padding: 5px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img-criptografia {
  width: 300px;
}

